.mat-form-field {
  margin-top: 16px;
}

.input {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.inputDate {
  min-width: 150px;
  max-width: 249px;
  width: 100%;
}

.inputCpf {
  min-width: 150px;
  max-width: 248px;
  width: 100%;
}

.example-card {
  margin-top: 40px;
  max-width: auto;
  max-height: auto;
  border-style: solid;
  border-color: brown;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
