<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Vídeo Explicativo</mat-card-title>
    <mat-card-subtitle
      >Peço que veja o breve vídeo Abaixo por gentileza</mat-card-subtitle
    >
  </mat-card-header>
  <iframe
    width="640"
    height="360"
    src="https://www.youtube.com/embed/S0NU69dTFwc"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <mat-card-content>
    <p>
      Este breve vídeo fiz afim de demonstrar um pouco sobre a aplicação, não
      irei muito no detalhe neste momento, porém gostaria de mostrar somente um
      breve overview sobre tanto a aplicação Front-End quanto Back-End, e o que
      foi implementado, Obrigado.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button color="warn" mat-raised-button mat-dialog-close>Fechar</button>
  </mat-card-actions>
</mat-card>
